/* Fonts */
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/helvetica-255');
@import url('http://fonts.cdnfonts.com/css/arial');

/* NETFLIX FONT CDN */
@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 800;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.netflix-sans-font-loaded {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
  font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
  font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}



/* WEBSITE ICONS */
@font-face {
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot);
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix) format("embedded-opentype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff) format("woff"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf) format("truetype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93) format("svg");
}
[class*=" icon-"],
[class^="icon-"] {
  speak: none;
  font-family: nf-icon;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  transform: translateZ(0);
}
.icon-logoUpdate:before {
  content: "\e5d0";
}
.icon-close:before {
  content: "\e762";
}
.icon-search:before {
  content: "\e636";
}
.icon-circle-solid:before {
  content: "\e622";
}
.icon-star-25-percent:before {
  content: "\e637";
}
.icon-star-50-percent:before {
  content: "\e638";
}
.icon-star-75-percent:before {
  content: "\e639";
}
.icon-star:before {
  content: "\e640";
}
.icon-add:before {
  content: "\e641";
}
.icon-play:before {
  content: "\e646";
}
.icon-leftArrow:before {
  content: "\e659";
}
.icon-rightArrow:before {
  content: "\e658";
}
.icon-kids:before {
  content: "\e691";
}
.icon-tvuiAdd:before {
  content: "\e716";
}
.icon-TvRatings:before {
  content: "\e733";
}
.icon-Talent:before {
  content: "\e734";
}
.icon-Awards:before {
  content: "\e736";
}
.icon-BoxOffice:before {
  content: "\e737";
}
.icon-round-x:before {
  content: "\e747";
}
.icon-globe:before {
  content: "\e896";
}
.icon-warning:before {
  content: "\e620";
}
.icon-rightCaret:before {
  content: "\e867";
}
.icon-leftCaret:before {
  content: "\e868";
}
.icon-disc:before {
  content: "\e871";
}
.icon-spinner:before {
  content: "\e765";
}
.icon-plainCheck:before {
  content: "\e804";
}
.icon-plainX:before {
  content: "\e807";
}
.icon-facebook:before {
  content: "\e628";
}
.icon-error:before {
  content: "\e798";
}
.icon-valid:before {
  content: "\e804";
}
.icon-lock:before {
  content: "\e625";
}
.icon-info-inv:before {
  content: "\e748";
}
.icon-success-inv:before {
  content: "\e746";
}
.icon-warn-inv:before {
  content: "\e743";
}
.icon-visa:before {
  content: "\e901";
}
.icon-mastercard:before {
  content: "\e902";
}
.icon-discover:before {
  content: "\e903";
}
.icon-amex:before {
  content: "\e900";
}
.icon-paypal:before {
  content: "\e914";
}
.icon-nicam-AL:before {
  content: "\f000";
}
.icon-nicam-6:before {
  content: "\f001";
}
.icon-nicam-9:before {
  content: "\f004";
}
.icon-nicam-12:before {
  content: "\f002";
}
.icon-nicam-16:before {
  content: "\f003";
}
.icon-nicam-violence:before {
  content: "\f005";
}
.icon-nicam-fear-anxiety:before {
  content: "\f006";
}
.icon-nicam-profanity:before {
  content: "\f007";
}
.icon-nicam-discrimination:before {
  content: "\f008";
}
.icon-nicam-drug-or-alcohol:before {
  content: "\f009";
}
.icon-nicam-sex:before {
  content: "\f010";
}
.icon-androidPlayRing:before {
  content: "\e665";
}
.icon-akiraMyListAdd:before {
  content: "\e850";
}
.icon-akiraMyListRemove:before {
  content: "\e852";
}
.icon-akiraCaretDown:before {
  content: "\e854";
}
.icon-akiraCaretRight:before {
  content: "\e658";
}
.icon-akiraCaretLeft:before {
  content: "\e659";
}
.icon-button-play:before {
  content: "\e884";
}
.icon-button-play-reverse:before {
  content: "\e890";
}
.icon-button-mylist-add:before {
  content: "\e885";
}
.icon-button-mylist-add-reverse:before {
  content: "\e891";
}
.icon-button-mylist-added:before {
  content: "\e888";
}
.icon-button-mylist-added-reverse:before {
  content: "\e894";
}
.icon-button-remindme-add-reverse:before,
.icon-button-remindme-add:before {
  content: "\e663";
}
.icon-button-remindme-added-reverse:before,
.icon-button-remindme-added:before {
  content: "\e804";
}
.icon-button-share:before {
  content: "\e886";
}
.icon-button-share-reverse:before {
  content: "\e892";
}
.icon-button-episodes:before {
  content: "\e887";
}
.icon-button-episodes-reverse:before {
  content: "\e893";
}
.icon-button-spinner-reverse:before,
.icon-button-spinner:before {
  content: "\e765";
}
.icon-button-minus:before {
  content: "\e889";
}
.icon-button-minus-reverse:before {
  content: "\e895";
}
.icon-button-audio-on:before {
  content: "\e88a";
}
.icon-button-audio-on-reverse:before {
  content: "\e88c";
}
.icon-button-audio-off:before {
  content: "\e88b";
}
.icon-button-audio-off-reverse:before {
  content: "\e88d";
}
.icon-button-replay:before {
  content: "\f095";
}
.icon-button-replay-reverse:before {
  content: "\f096";
}
.icon-button-notification-reverse:before,
.icon-button-notification:before {
  content: "\e663";
}
.icon-thumb-down:before {
  content: "\e660";
}
.icon-thumb-up:before {
  content: "\e661";
}
.icon-thin-caret-left:before {
  content: "\e704";
}
.icon-thin-caret-right:before {
  content: "\e705";
}
.icon-long-arrow-left:before {
  content: "\e673";
}
.icon-long-arrow-right:before {
  content: "\e672";
}
.icon-short-arrow-right:before {
  content: "\e89B";
}
.icon-back:before {
  content: "\e635";
}
.icon-uniE5D0:before {
  content: "\E5D0";
}
.icon-uniE5D1:before {
  content: "\E5D1";
}
.icon-uniE600:before {
  content: "\E600";
}
.icon-uniE601:before {
  content: "\E601";
}
.icon-uniE602:before {
  content: "\E602";
}
.icon-uniE603:before {
  content: "\E603";
}
.icon-uniE604:before {
  content: "\E604";
}
.icon-uniE605:before {
  content: "\E605";
}
.icon-uniE606:before {
  content: "\E606";
}
.icon-uniE607:before {
  content: "\E607";
}
.icon-uniE608:before {
  content: "\E608";
}
.icon-uniE609:before {
  content: "\E609";
}
.icon-uniE610:before {
  content: "\E610";
}
.icon-uniE611:before {
  content: "\E611";
}
.icon-uniE612:before {
  content: "\E612";
}
.icon-uniE613:before {
  content: "\E613";
}
.icon-uniE614:before {
  content: "\E614";
}
.icon-uniE615:before {
  content: "\E615";
}
.icon-uniE616:before {
  content: "\E616";
}
.icon-uniE617:before {
  content: "\E617";
}
.icon-uniE618:before {
  content: "\E618";
}
.icon-uniE619:before {
  content: "\E619";
}
.icon-uniE620:before {
  content: "\E620";
}
.icon-uniE621:before {
  content: "\E621";
}
.icon-uniE622:before {
  content: "\E622";
}
.icon-uniE623:before {
  content: "\E623";
}
.icon-uniE624:before {
  content: "\E624";
}
.icon-uniE625:before {
  content: "\E625";
}
.icon-uniE626:before {
  content: "\E626";
}
.icon-uniE627:before {
  content: "\E627";
}
.icon-uniE628:before {
  content: "\E628";
}
.icon-uniE629:before {
  content: "\E629";
}
.icon-uniE630:before {
  content: "\E630";
}
.icon-uniE631:before {
  content: "\E631";
}
.icon-uniE632:before {
  content: "\E632";
}
.icon-uniE633:before {
  content: "\E633";
}
.icon-uniE634:before {
  content: "\E634";
}
.icon-uniE635:before {
  content: "\E635";
}
.icon-uniE636:before {
  content: "\E636";
}
.icon-uniE637:before {
  content: "\E637";
}
.icon-uniE638:before {
  content: "\E638";
}
.icon-uniE639:before {
  content: "\E639";
}
.icon-uniE640:before {
  content: "\E640";
}
.icon-uniE641:before {
  content: "\E641";
}
.icon-uniE642:before {
  content: "\E642";
}
.icon-uniE643:before {
  content: "\E643";
}
.icon-uniE644:before {
  content: "\E644";
}
.icon-uniE645:before {
  content: "\E645";
}
.icon-uniE646:before {
  content: "\E646";
}
.icon-uniE647:before {
  content: "\E647";
}
.icon-uniE648:before {
  content: "\E648";
}
.icon-uniE649:before {
  content: "\E649";
}
.icon-uniE650:before {
  content: "\E650";
}
.icon-uniE651:before {
  content: "\E651";
}
.icon-uniE652:before {
  content: "\E652";
}
.icon-uniE653:before {
  content: "\E653";
}
.icon-uniE654:before {
  content: "\E654";
}
.icon-uniE655:before {
  content: "\E655";
}
.icon-uniE656:before {
  content: "\E656";
}
.icon-uniE657:before {
  content: "\E657";
}
.icon-uniE658:before {
  content: "\E658";
}
.icon-uniE659:before {
  content: "\E659";
}
.icon-uniE660:before {
  content: "\E660";
}
.icon-uniE661:before {
  content: "\E661";
}
.icon-uniE662:before {
  content: "\E662";
}
.icon-uniE663:before {
  content: "\E663";
}
.icon-uniE664:before {
  content: "\E664";
}
.icon-uniE665:before {
  content: "\E665";
}
.icon-uniE666:before {
  content: "\E666";
}
.icon-uniE667:before {
  content: "\E667";
}
.icon-uniE668:before {
  content: "\E668";
}
.icon-uniE669:before {
  content: "\E669";
}
.icon-uniE670:before {
  content: "\E670";
}
.icon-uniE671:before {
  content: "\E671";
}
.icon-uniE672:before {
  content: "\E672";
}
.icon-uniE673:before {
  content: "\E673";
}
.icon-uniE674:before {
  content: "\E674";
}
.icon-uniE675:before {
  content: "\E675";
}
.icon-uniE676:before {
  content: "\E676";
}
.icon-uniE677:before {
  content: "\E677";
}
.icon-uniE678:before {
  content: "\E678";
}
.icon-uniE679:before {
  content: "\E679";
}
.icon-uniE680:before {
  content: "\E680";
}
.icon-uniE681:before {
  content: "\E681";
}
.icon-uniE682:before {
  content: "\E682";
}
.icon-uniE683:before {
  content: "\E683";
}
.icon-uniE684:before {
  content: "\E684";
}
.icon-uniE685:before {
  content: "\E685";
}
.icon-uniE687:before {
  content: "\E687";
}
.icon-uniE688:before {
  content: "\E688";
}
.icon-uniE689:before {
  content: "\E689";
}
.icon-uniE690:before {
  content: "\E690";
}
.icon-uniE691:before {
  content: "\E691";
}
.icon-uniE692:before {
  content: "\E692";
}
.icon-uniE693:before {
  content: "\E693";
}
.icon-uniE694:before {
  content: "\E694";
}
.icon-uniE695:before {
  content: "\E695";
}
.icon-uniE696:before {
  content: "\E696";
}
.icon-uniE697:before {
  content: "\E697";
}
.icon-uniE698:before {
  content: "\E698";
}
.icon-uniE699:before {
  content: "\E699";
}
.icon-uniE700:before {
  content: "\E700";
}
.icon-uniE701:before {
  content: "\E701";
}
.icon-uniE702:before {
  content: "\E702";
}
.icon-uniE703:before {
  content: "\E703";
}
.icon-uniE704:before {
  content: "\E704";
}
.icon-uniE705:before {
  content: "\E705";
}
.icon-uniE706:before {
  content: "\E706";
}
.icon-uniE707:before {
  content: "\E707";
}
.icon-uniE708:before {
  content: "\E708";
}
.icon-uniE709:before {
  content: "\E709";
}
.icon-uniE710:before {
  content: "\E710";
}
.icon-uniE711:before {
  content: "\E711";
}
.icon-uniE712:before {
  content: "\E712";
}
.icon-uniE713:before {
  content: "\E713";
}
.icon-uniE714:before {
  content: "\E714";
}
.icon-uniE715:before {
  content: "\E715";
}
.icon-uniE716:before {
  content: "\E716";
}
.icon-uniE718:before {
  content: "\E718";
}
.icon-uniE719:before {
  content: "\E719";
}
.icon-uniE720:before {
  content: "\E720";
}
.icon-uniE721:before {
  content: "\E721";
}
.icon-uniE722:before {
  content: "\E722";
}
.icon-uniE723:before {
  content: "\E723";
}
.icon-uniE724:before {
  content: "\E724";
}
.icon-uniE725:before {
  content: "\E725";
}
.icon-uniE726:before {
  content: "\E726";
}
.icon-uniE727:before {
  content: "\E727";
}
.icon-uniE728:before {
  content: "\E728";
}
.icon-uniE729:before {
  content: "\E729";
}
.icon-uniE730:before {
  content: "\E730";
}
.icon-uniE731:before {
  content: "\E731";
}
.icon-uniE732:before {
  content: "\E732";
}
.icon-uniE733:before {
  content: "\E733";
}
.icon-uniE734:before {
  content: "\E734";
}
.icon-uniE735:before {
  content: "\E735";
}
.icon-uniE736:before {
  content: "\E736";
}
.icon-uniE737:before {
  content: "\E737";
}
.icon-uniE738:before {
  content: "\E738";
}
.icon-uniE739:before {
  content: "\E739";
}
.icon-uniE740:before {
  content: "\E740";
}
.icon-uniE741:before {
  content: "\E741";
}
.icon-uniE742:before {
  content: "\E742";
}
.icon-uniE743:before {
  content: "\E743";
}
.icon-uniE744:before {
  content: "\E744";
}
.icon-uniE745:before {
  content: "\E745";
}
.icon-uniE746:before {
  content: "\E746";
}
.icon-uniE747:before {
  content: "\E747";
}
.icon-uniE748:before {
  content: "\E748";
}
.icon-uniE749:before {
  content: "\E749";
}
.icon-uniE750:before {
  content: "\E750";
}
.icon-uniE751:before {
  content: "\E751";
}
.icon-uniE752:before {
  content: "\E752";
}
.icon-uniE753:before {
  content: "\E753";
}
.icon-uniE754:before {
  content: "\E754";
}
.icon-uniE755:before {
  content: "\E755";
}
.icon-uniE756:before {
  content: "\E756";
}
.icon-uniE757:before {
  content: "\E757";
}
.icon-uniE758:before {
  content: "\E758";
}
.icon-uniE759:before {
  content: "\E759";
}
.icon-uniE760:before {
  content: "\E760";
}
.icon-uniE761:before {
  content: "\E761";
}
.icon-uniE762:before {
  content: "\E762";
}
.icon-uniE763:before {
  content: "\E763";
}
.icon-uniE764:before {
  content: "\E764";
}
.icon-uniE765:before {
  content: "\E765";
}
.icon-uniE766:before {
  content: "\E766";
}
.icon-uniE767:before {
  content: "\E767";
}
.icon-uniE775:before {
  content: "\E775";
}
.icon-uniE776:before {
  content: "\E776";
}
.icon-uniE777:before {
  content: "\E777";
}
.icon-uniE778:before {
  content: "\E778";
}
.icon-uniE779:before {
  content: "\E779";
}
.icon-uniE780:before {
  content: "\E780";
}
.icon-uniE781:before {
  content: "\E781";
}
.icon-uniE782:before {
  content: "\E782";
}
.icon-uniE783:before {
  content: "\E783";
}
.icon-uniE784:before {
  content: "\E784";
}
.icon-uniE785:before {
  content: "\E785";
}
.icon-uniE786:before {
  content: "\E786";
}
.icon-uniE787:before {
  content: "\E787";
}
.icon-uniE796:before {
  content: "\E796";
}
.icon-uniE797:before {
  content: "\E797";
}
.icon-uniE798:before {
  content: "\E798";
}
.icon-uniE799:before {
  content: "\E799";
}
.icon-uniE800:before {
  content: "\E800";
}
.icon-uniE801:before {
  content: "\E801";
}
.icon-uniE802:before {
  content: "\E802";
}
.icon-uniE803:before {
  content: "\E803";
}
.icon-uniE804:before {
  content: "\E804";
}
.icon-uniE805:before {
  content: "\E805";
}
.icon-uniE806:before {
  content: "\E806";
}
.icon-uniE807:before {
  content: "\E807";
}
.icon-uniE850:before {
  content: "\E850";
}
.icon-uniE851:before {
  content: "\E851";
}
.icon-uniE852:before {
  content: "\E852";
}
.icon-uniE853:before {
  content: "\E853";
}
.icon-uniE854:before {
  content: "\E854";
}
.icon-uniE855:before {
  content: "\E855";
}
.icon-uniE856:before {
  content: "\E856";
}
.icon-uniE857:before {
  content: "\E857";
}
.icon-uniE858:before {
  content: "\E858";
}
.icon-uniE859:before {
  content: "\E859";
}
.icon-uniE860:before {
  content: "\E860";
}
.icon-uniE861:before {
  content: "\E861";
}
.icon-uniE862:before {
  content: "\E862";
}
.icon-uniE863:before {
  content: "\E863";
}
.icon-uniE864:before {
  content: "\E864";
}
.icon-uniE865:before {
  content: "\E865";
}
.icon-uniE866:before {
  content: "\E866";
}
.icon-uniE867:before {
  content: "\E867";
}
.icon-uniE868:before {
  content: "\E868";
}
.icon-uniE869:before {
  content: "\E869";
}
.icon-uniE870:before {
  content: "\E870";
}
.icon-uniE871:before {
  content: "\E871";
}
.icon-uniE872:before {
  content: "\E872";
}
.icon-uniE873:before {
  content: "\E873";
}
.icon-uniE874:before {
  content: "\E874";
}
.icon-uniE875:before {
  content: "\E875";
}
.icon-uniE876:before {
  content: "\E876";
}
.icon-uniE877:before {
  content: "\E877";
}
.icon-uniE878:before {
  content: "\E878";
}
.icon-uniE879:before {
  content: "\E879";
}
.icon-uniE880:before {
  content: "\E880";
}
.icon-uniE881:before {
  content: "\E881";
}
.icon-uniE882:before {
  content: "\E882";
}
.icon-uniE883:before {
  content: "\E883";
}
.icon-uniE884:before {
  content: "\E884";
}
.icon-uniE885:before {
  content: "\E885";
}
.icon-uniE886:before {
  content: "\E886";
}
.icon-uniE887:before {
  content: "\E887";
}
.icon-uniE888:before {
  content: "\E888";
}
.icon-uniE889:before {
  content: "\E889";
}
.icon-uniE88A:before {
  content: "\E88A";
}
.icon-uniE88B:before {
  content: "\E88B";
}
.icon-uniE88C:before {
  content: "\E88C";
}
.icon-uniE88D:before {
  content: "\E88D";
}
.icon-uniE890:before {
  content: "\E890";
}
.icon-uniE891:before {
  content: "\E891";
}
.icon-uniE892:before {
  content: "\E892";
}
.icon-uniE893:before {
  content: "\E893";
}
.icon-uniE894:before {
  content: "\E894";
}
.icon-uniE895:before {
  content: "\E895";
}
.icon-uniE896:before {
  content: "\E896";
}
.icon-uniE897:before {
  content: "\E897";
}
.icon-uniE898:before {
  content: "\E898";
}
.icon-uniE89A:before {
  content: "\E89A";
}
.icon-uniE89B:before {
  content: "\E89B";
}
.icon-uniE89C:before {
  content: "\E89C";
}
.icon-uniE89D:before {
  content: "\E89D";
}
.icon-uniE8A1:before {
  content: "\E8A1";
}
.icon-uniE8A2:before {
  content: "\E8A2";
}
.icon-uniE8A3:before {
  content: "\E8A3";
}
.icon-uniE8A4:before {
  content: "\E8A4";
}
.icon-uniE8A5:before {
  content: "\E8A5";
}
.icon-uniE8A6:before {
  content: "\E8A6";
}
.icon-uniE8A7:before {
  content: "\E8A7";
}
.icon-uniE8A8:before {
  content: "\E8A8";
}
.icon-uniE900:before {
  content: "\E900";
}
.icon-uniE901:before {
  content: "\E901";
}
.icon-uniE902:before {
  content: "\E902";
}
.icon-uniE903:before {
  content: "\E903";
}
.icon-uniE904:before {
  content: "\E904";
}
.icon-uniE905:before {
  content: "\E905";
}
.icon-uniE906:before {
  content: "\E906";
}
.icon-uniE907:before {
  content: "\E907";
}
.icon-uniE908:before {
  content: "\E908";
}
.icon-uniE909:before {
  content: "\E909";
}
.icon-uniE910:before {
  content: "\E910";
}
.icon-uniE911:before {
  content: "\E911";
}
.icon-uniE912:before {
  content: "\E912";
}
.icon-uniE913:before {
  content: "\E913";
}
.icon-uniE914:before {
  content: "\E914";
}
.icon-uniE915:before {
  content: "\E915";
}
.icon-uniE916:before {
  content: "\E916";
}
.icon-uniE940:before {
  content: "\E940";
}
.icon-uniE941:before {
  content: "\E941";
}
.icon-uniE942:before {
  content: "\E942";
}
.icon-uniE943:before {
  content: "\E943";
}
.icon-uniF000:before {
  content: "\F000";
}
.icon-uniF001:before {
  content: "\F001";
}
.icon-uniF002:before {
  content: "\F002";
}
.icon-uniF003:before {
  content: "\F003";
}
.icon-uniF004:before {
  content: "\F004";
}
.icon-uniF005:before {
  content: "\F005";
}
.icon-uniF006:before {
  content: "\F006";
}
.icon-uniF007:before {
  content: "\F007";
}
.icon-uniF008:before {
  content: "\F008";
}
.icon-uniF009:before {
  content: "\F009";
}
.icon-uniF010:before {
  content: "\F010";
}
.icon-uniF011:before {
  content: "\F011";
}
.icon-uniF012:before {
  content: "\F012";
}
.icon-uniF013:before {
  content: "\F013";
}
.icon-uniF014:before {
  content: "\F014";
}
.icon-uniF015:before {
  content: "\F015";
}
.icon-uniF016:before {
  content: "\F016";
}
.icon-uniF017:before {
  content: "\F017";
}
.icon-uniF018:before {
  content: "\F018";
}
.icon-uniF019:before {
  content: "\F019";
}
.icon-uniF020:before {
  content: "\F020";
}
.icon-uniF021:before {
  content: "\F021";
}
.icon-uniF022:before {
  content: "\F022";
}
.icon-uniF023:before {
  content: "\F023";
}
.icon-uniF024:before {
  content: "\F024";
}
.icon-uniF025:before {
  content: "\F025";
}
.icon-uniF026:before {
  content: "\F026";
}
.icon-uniF027:before {
  content: "\F027";
}
.icon-uniF028:before {
  content: "\F028";
}
.icon-uniF029:before {
  content: "\F029";
}
.icon-uniF030:before {
  content: "\F030";
}
.icon-uniF031:before {
  content: "\F031";
}
.icon-uniF032:before {
  content: "\F032";
}
.icon-uniF033:before {
  content: "\F033";
}
.icon-uniF034:before {
  content: "\F034";
}
.icon-uniF035:before {
  content: "\F035";
}
.icon-uniF036:before {
  content: "\F036";
}
.icon-uniF037:before {
  content: "\F037";
}
.icon-uniF038:before {
  content: "\F038";
}
.icon-uniF039:before {
  content: "\F039";
}
.icon-uniF040:before {
  content: "\F040";
}
.icon-stacked-screens:before {
  content: "\F041";
}
.icon-stacked-screens-small:before {
  content: "\F099";
}
.icon-cross-device-screens:before {
  content: "\F042";
}
.icon-cross-device-screens-desktop:before {
  content: "\F098";
}
.icon-cross-device-screens-small:before {
  content: "\F097";
}
.icon-tv-screen:before {
  content: "\F043";
}
.icon-price-tag:before {
  content: "\F044";
}
.icon-cancel:before {
  content: "\F045";
}